/* Resetar o CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body, html {
    /* height: 100%; */
}

body {
    background: #252A41;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    height: 100%;
}

.input {
    width: 100%;
    display: block;
}

a {
  all: unset;
}


h1 {
    font-size: 40px;
    padding: 10px 0;
}

#app {
    display: flex;
    height: 100%;
    margin: 5%; 
}

#app .container {
    /* height: 60px; */
    width: 100%;
    /* background: red; */
    margin: 5px;    
}

.sidebar {
    display: flex;
    justify-content: center;
    background: #fff;

    width: 417px;
    /* height: 90%; */
    min-height: 500px;
    border-radius: 30px;
    margin: 0 18px 0 83px;
}

header {
    display: flex;
    justify-content: space-between;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tools {
    display: flex;
    flex-direction: row;    
}

.search {
    color: rgba(255, 255, 255, 61%);
    font-size: 29px;
    /* margin-right: 5%; */
}

.search > input {
    background: rgba(255, 255, 255, 0%);
    font-size: 25px;
    border: none;
    border-bottom: 1px solid #fff;
    /* height: px; */
    color: rgba(255, 255, 255, 95%);
    /* margin-right: 0px; */
}

.search > input::placeholder {
    color: rgba(255, 255, 255, 65%);
}


.notifications {
    font-size: 30px;
    padding: ;
    color: #fff;
}

.notifications i {
    padding: 5px;
}

.welcome > h1 {
    font-size: 40px;
    color: #FFFFFF;
}

.welcome > span {
    font-size: 20px;
    color: rgba(255, 255, 255, 61%);

}

main {
    display: flex;
}

.menu {
    padding-top: 70px;
}

.menu > ul {
    display: flex;
    list-style: none;
}

.menu > ul > li {
    color: #fff;
    padding: 16px 0 16px 0;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    height: 90px;
}

.icon.selected {
    background: #2C3352;
    border-radius: 20px;
    /* border: 1px solid #808080; */
    box-shadow: 0 0 0 2px #88b8ff;
}

.icon:not(.selected):hover {
    background: #343A52;
    border-radius: 20px;    
    /* border: 1px solid #808080; */
    box-shadow: 0 0 0 2px #88b8ff;
}

.icon i {
    font-size: 40px;
    padding-bottom: 12px;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 40px 10px 60px;
}

.box {
    display: flex;
    justify-content: center;

    min-width: 250px;
    width: 250px;
    height: 300px;
    background: #fff;

    margin: 15px;
    border-radius: 10px;
    padding: 20px
}

.box-large {
    display: flex;
    justify-content: center;

    min-width: 250px;
    width: 40%;
    height: 400px;
    background: #fff;

    margin: 15px;
    border-radius: 10px;
    padding: 20px

}


@media only screen and (max-width: 700px) {

    .dashboard {
        padding: 0;
    }

    main {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .menu > ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;        
    }

    .menu > ul > li {
        margin: 10px;
    }

    .icon i {
        font-size: 30px;
    }

    .search > input {
        width: 60%;
    }

    h1 {
        font-size: 25px;
    }

    .menu span {
        display: none;
    }

    .box {
        width: 95%;
    }

    .box-large {
        width: 95%;
    
    }
}

@media only screen and (min-width: 701px) {
    main {
        justify-content: center;
        /* flex-direction: column;       */
    }
    .menu > ul {
        justify-content: center;
        flex-direction: column;
    }    

    h1 {
        font-size: 25px;
    }
}

.white {
    color: white;
}